/* reset*/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: 6px 12px;
    color: #fff;
    
    
    }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 20%;
    border-top: 2px solid #fff;
    }
/*fine-reset*/

/* hero*/
.inner-hero{
    background-image: url('../img/arredamento-header.jpg');
    background-size: cover;
    background-position: center;
}
.hero .col-lg-12 .text-center h2 p {
    text-align: center;
    color: white;!important
}
/*finehero*/

/*shop */
.container-shop {
    margin-top: 20px;
    width: 100%;
    padding: 40px;
}

/*fine-shop */

/*lookbook*/
   
.container-card {
    margin-top: 20px;
    background-color: #eee;
}
img {
    vertical-align: middle;
    width: 50%;
}
.button .col-lg-12{
    margin-bottom: 20px;
}
/*finelook*/
.container-shop{
    margin-top: 20px;
    width: 100%;
}

/*form*/
.container-form{
    margin-top:20px;
    background-color:  #eee;
}

form .form-control {
        display: flex;!important
        width: 40%;
}

/*fineform*/

/*footer*/
 footer{
     background-color: #eee;
     margin-top: 20px;
 }
 .minimg{
     width: 20%;

 }

/*footer*/


@media screen and (min-width 600px) {
    
    

@media (min-width: 992px) {

}



